html {
    max-width: 100%;
}

body {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #333;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
}

.main-title a {
    color: #fff;
    font-size: 4rem;
}

.access {
    margin-top: 30px;
}

.reserve {
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.8);
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
}

.menu ul li {
    margin-right: 12%;
}

.menu ul li a {
    color: #fff;
}

.main-visual {
    text-align: center;
}

.main-visual img {
    width: 90%;
    margin-top: 30px;
    height: 700px;
    padding-top: 200px;
}

.hair-style .style {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}


.hair-style h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}


.style .mens p {
    position: relative;
    bottom: 220px;
    font-size: 50px;
    mix-blend-mode: soft-light;
}

.style .ledies p {
    position: relative;
    bottom: 220px;
    font-size: 50px;
    mix-blend-mode: soft-light;
}

.style .mens a img {
    max-width: 100%;
}

.style .ledies a img {
    max-width: 100%;
}

.news {
    margin-top: -10%;
}

.news-list {
    background-color: bisque;
    padding: 30px 0 15px 0;
}

.news-list dt {
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
}

.news-list dd {
    margin-left: 50%;
    margin-bottom: 5%;
}

.news h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.salon {
    margin-top: 10%;
    text-align: center;
}

.salons {
    display: flex;
    justify-content: space-between;

    overflow: hidden;
}

.salons p strong {
    display: block;
    position: relative;
    bottom: 55px;
    z-index: 1;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 200px;
}

.salons p span {
    display: block;
    position: relative;
    z-index: 0;
    box-shadow: inset 0 0 50px rgba(50,30,0,0.6),
                inset 0 0 100px rgba(50,30,0,0.3);
    background: rgba(255,155,0,0.2);
    opacity: 0;
}

.salon h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.salons a {
    color: black;
}

.salon-list1 img {
    width: 70%;
    height: 73%;
}

.salon-list2 img {
    width: 70%;
}

.salon-list3 img {
    width: 70%;
}

/*
.salon-list1 {
    background-image: url("image/main2.jpg");
    padding: 10%;
    background-repeat: no-repeat;
    position: relative;
}

.salon-list2 {
    background-image: url("image/main3.jpg");
    padding: 10%;
    background-repeat: no-repeat;
    position: relative;
}

.salon-list3 {
    background-image: url("image/main4.jpg");
    padding: 10%;
    background-repeat: no-repeat;
    position: relative;
}
*/

.concept h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.concept-wrapper .concept-1 {
    display: flex;
    margin: 0 10% 10% 5%;
}

.concept-wrapper .concept-2 {
    display: flex;
    margin: 0 10% 10% 5%;
}

.concept-wrapper .concept-3 {
    display: flex;
    margin: 0 10% 10% 5%;
}

.concept-1 img {
    width: 30%;
    margin-right: 10%;
}

.concept-2 img {
    width: 30%;
    margin-left: 10%;
}

.concept-3 img {
    width: 30%;
    margin-right: 10%;
}

footer {
    background: #333;
    padding: 10px 10px;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
    position: absolute;
    right: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-wrapper button {
    cursor: pointer;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 10px #00A6C4;
}

/* contact.html*/
.contact-wrapper {
    background-image: url();
    min-height: 100vh;
}

.contact-wrapper .contact-title {
    text-align: center;
    margin: 5% 0;
}

.contact-list {
    margin-left: 5%;
}

form div {
    margin-bottom: 14px;
}

label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;

}

input[type="text"],
input[type="email"],
textarea {
    background: rgb(255,255,255,.5);
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
    padding: 10px;
    background-color: red;
    color: #fff;
    margin-left: 5%;
}

/* access.html */
#location {
    padding: 4% 0;
    font-size: 1.25rem;
}

.location-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 7% 20%;
}

.location-info {
    margin-top: 7%;
}

/* menshair.html ledieshair.html */
.mens-hair h2 {
    text-align: center;
    margin: 7% 0 7% 0;
}

.ledies-hair h2 {
    text-align: center;
    margin: 7% 0 7% 0;
}

.hair-catalog1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

.hair-catalog1 img {
    width: 90%;
}

.hair-catalog1 p {
    font-size: 0.825rem;
}

.mens-hair h2 {
    text-align: center;
}

.hair-catalog2 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 7% 10% 7% 10%;
}

.hair-catalog2 img {
    width: 90%;
}

.hair-catalog2 p {
    font-size: 0.825rem;
}

/* price.html */
#price .price-title {
    text-align: center;
    margin: 5% 0 5% 0;
}

#price .cut-wrapper dt{
    float: left;
}

#price .cut-wrapper dd {
    margin-left: 90%;
}

#price .cut-wrapper dl {
    border-bottom: 1px dotted #000;
    margin: 2% 10%;
}

#price .cut {
    margin-bottom: 5%;
}

#price .color-wrapper dt{
    float: left;
}

#price .color-wrapper dd {
    margin-left: 89%;
}

#price .color-wrapper dl {
    border-bottom: 1px dotted #000;
    margin: 2% 10%;
}

#price .color-wrapper dl p {
    font-size: 0.7rem;
}

#price .hair-color {
    margin-bottom: 5%;
}

#price .perm-wrapper dt{
    float: left;
}

#price .perm-wrapper dd {
    margin-left: 89%;
}

#price .perm-wrapper dl {
    border-bottom: 1px dotted #000;
    margin: 2% 10%;
}

#price .perm-wrapper dl p {
    font-size: 0.7rem;
}

#price .perm {
    margin-bottom: 5%;
}

#price .straight-wrapper dt{
    float: left;
}

#price .straight-wrapper dd {
    margin-left: 88%;
}

#price .straight-wrapper dl {
    border-bottom: 1px dotted #000;
    margin: 2% 10%;
}

#price .straight-wrapper dl p {
    font-size: 0.7rem;
}

#price .reserve-timer {
    text-align: right;
}

/* contact.html */
.contact-wrapper .contact-title {
    text-align: center;
    margin: 5% 0;
}

/* JS */

/* fade */
.fadeIn {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity, transform;
}
  
.fadeIn-up {
    transform: translate(0, 50px);
}
  
.fadeIn-down {
    transform: translate(0, -50px);
}
  
.fadeIn-left {
    transform: translate(-50px, 0);
}
  
.fadeIn-right {
    transform: translate(50px, 0);
}
  
.scrollIn {
    opacity: 1;
    transform: translate(0, 0);
}

/* スライドショー */
.slide {
    border: 1px solid black;
    background-color: bisque;
}

.toolbar {
    overflow: hidden;
    text-align: center;
}

.nav {
    display: inline-block;
}

#prev {
    float: left;
    width: 40px;
    height: 40px;
    background: url("image/prev.png") no-repeat;
}

#next {
    float: left;
    width: 40px;
    height: 40px;
    background: url("image/next.png") no-repeat;
}

/* 最終アクセス日時 */
.access-time {
    font-size: 0.875rem;
    text-align: right;
}

/* マーカー */
.c-marker {
    background: -webkit-linear-gradient(left, rgb(255,250,153) 50%, transparent 50%);
    background: -moz-linear-gradient(left, rgb(255,250,153) 50%, transparent 50%);
    background: linear-gradient(left, rgb(255,250,153) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 200% .8em; 
    background-position: 100% .5em;
    transition: 2s;
}

.c-marker.is-active{
    background-position: 0% .5em;
}

/* ハンバーガーメニュー*/
  /* hamburger(ハンバーガーアイコン)*/
.hamburger {
    position: relative;
    cursor: pointer;
    z-index: 300;
    top: 30px;
}
  
.hamburger__line {
    position: absolute;
    width: 60px;
    height: 3px;
    right: 0;
    background-color: #000;
    transition: all 0.5s;
}
  
.hamburger__line--1 {
    top: 1px;
}
  
.hamburger__line--2 {
    top: 18px;
}
  
.hamburger__line--3 {
    top: 36px;
}
  
  /*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
}
  
.open .hamburger__line--2 {
    opacity: 0;
}
  
.open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
}
  
     /* sp-nav(ナビ) */
.sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: bisque;
    transition: all 0.5s;
    z-index: 200;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
  
  /*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
    right: 0;
}
  
  
   /* black-bg */
.black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
}
  
  /*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
    opacity: 0.3;
    visibility: visible;
}

.sp-nav ul {
    list-style: none;
    text-align: center;
    margin-top: 25%;
}

.sp-nav ul li {
    margin-bottom: 15%;
}

/* プルダウンメニュー */
#pulldown {
    text-align: right;
}

/* ページトップへ戻るボタン */
.pagetop {
    cursor: pointer;
    position: fixed;
    left: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .3s;
    color: #00A6C4;
    background: burlywood;
    z-index: 1000;
  /*   デフォルトは非表示 */
    opacity: 0;
}

.pagetop:hover {
     box-shadow: 0 0 10px #00A6C4;
}

/* スティッキーヘッダー */
.page-header {
    width: 100%;
    position: fixed;
    z-index: 1001;
    margin: 0;
}

.page-header .sticky {
    position: fixed;
}

/* ボタン */
.hair-button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.mens-button button {
    background-color: red;
}

.mens-button button a {
    color: #fff;
}

.ledies-button button {
    background-color: red;
}

.ledies-button button a {
    color: #fff;
}

/* 見え隠れするサイドバー */
aside {
    background-color: rgba(0,0,0,0.8);
    width: 350px;
    height: 100%;
    top: 0;
    left: -350px;
    position: fixed;
}

aside ul {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 114px;
    position: absolute;
}

aside li {
    margin: 0 0 20px;
    list-style: none;
}

aside a {
    color: #fff;
}

aside button {
    background-color: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    top: 150px;
    left: 350px;
    width: 52px;
    height: 132px;
    margin: 0;
    padding: 0;
    border: none;
}

/* プログレス表示 */
.progress {
    background-color: rgba(0,0,0);
    color: rgba(255,255,255);
    height: 10000px;
    position: absolute;
    width: 100%;
    z-index: 1002;
}

.progress-bar {
    border-top: 1px solid rgba(160,160,160);
    position: absolute;
    top: 4%;
    width: 0%;
}

.progress-text {
    font-size: 12px;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    top: 4%;
    width: 100%;
}

.progress-complete .progress-bar {
    border-top-color: #fff;
}

/* 画面遷移-背景色が伸びる-(上から下)- */

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
    z-index: 1003;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: scaleY(0);
    background-color: #333;/*伸びる背景色の設定*/
    animation-name:PageAnime;
    animation-duration:1.2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
}

@keyframes PageAnime{
  0% {
    transform-origin:top;
    transform:scaleY(0);
  }
  50% {
    transform-origin:top;
    transform:scaleY(1);
  }
  50.001% {
    transform-origin:bottom;
  }
  100% {
    transform-origin:bottom;
    transform:scaleY(0);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
  opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:1s;
  animation-delay: 0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/* tooltip */
.contact-wrapper form div {
    position: relative;
}

.tooltip:before {
    content: '';
    position:absolute;
    top:10px;
    left:-20px;
    border:12px solid transparent;
    border-right:12px solid #808080;
}

.tooltip {
	position: absolute;
	background-color:#808080;
	color: #fff;
	font-size:0.8em;
	border-radius:0.5em;
	padding:10px;
	margin:-0.8em 0.5em 0 1em;
	display:none;
}

input[type="text"],textarea {
	width:30em;
}


/* レスポンシブ */
@media screen and (max-width:959px){
    /* 959px以下に適用されるCSS(タブレット用) */
    img{
        max-width: 960px;
    }
}

@media screen and (max-width:480px) {
    /* 480px以下に適用されるCSS(スマートフォン用) */

    .location-wrapper .location-info{
        max-width: 100%;
    }
    .header-wrapper h1 a{
        font-size: 35px;
    }
    .access .reserve {
        display: none;
    }
    .access .hamburger span{
        width: 25px;
        margin-top: 20px;
    }
    /* index.html */
    .main-visual .image_box img{
        height: 40%;
    }
    .hair-style .style {
        display: inline-block;
        justify-content: center;
    }
    .style .mens a img{
        width: 100%;
        margin-bottom: -25%;
    }
    .style .ledies a img{
        width: 100%;
        margin-bottom: -25%;
    }
    .salons{
        display: block;
    }
    .concept-wrapper .concept-1 .concept-text{
        font-size: 0.525rem;
    }
    .concept-wrapper .concept-2 .concept-text{
        font-size: 0.525rem;
    }
    .concept-wrapper .concept-3 .concept-text{
        font-size: 0.525rem;
    }
    .concept-wrapper .concept-1 img{
        width: 50%;
    }
    .concept-wrapper .concept-2 img{
        width: 50%;
    }
    .concept-wrapper .concept-3 img{
        width: 50%;
    }

    /* access.html */
    .location-wrapper {
        display: block;
        justify-content: center;
    }
    .location-wrapper .map1{
        max-width: 100%;
        margin-bottom: 120px;
    }
    .location-wrapper .map2{
        max-width: 100%;
        margin-bottom: 120px;
    }
    .location-wrapper .map3{
        max-width: 100%;
    }

    /*　contact.html */
    input[type="text"],
    input[type="email"] {
        max-width: 80%;
        margin: auto 5% auto 5%;
    }
    textarea {
        max-width: 80%;
        margin: auto 5% auto 5%;
    }

    /* menshair.html ledies.html */
    .hair-catalog1 {
        display: block;
    }
    .hair-catalog2 {
        display: block;
    }
}
